body{
    position:relative;
}
.alertMine{
    position: absolute;
    left: 20px;
    top: 30px;
    border: 2px red solid;
    background-color: yellow;
    padding: 30px;
    color: red;
}
span{
    font-size: 20px;
    font-weight: bolder;
}